body {
	font-family: 'Roboto Slab', serif;
	color: #333;
}
body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.16667em; padding:1.51786em 0; }

body { max-width: 960px; margin: 0 auto; }
body > header { width: 16%; margin: 0 4% 0 0; float: left; color: #888; }
body > header h1 { padding-bottom: 0; }
body > header p { font-size: 1em; }
body > header strong { color: black; font-weight: normal; }
body > header a { color: black; text-decoration: none; border-bottom: 1px solid #bbb }

.content { width: 80%; float: left; }
article { }
article > header { margin-bottom: 1.4em; }
article > header > h1 { padding-bottom: 0.725em; }
article > header > span { color: #888; }
article > img { max-width: 100%; }

nav.pagination { padding: 3em 0 5em 0 }
nav.pagination a { text-decoration: none; color: black; font-size: 1.1666em}
nav.pagination a.newer { float: left; }
nav.pagination a.older { float: right; }

.logo { font-size: 1.5em; font-family: Georgia; font-weight: normal; margin-top: 0.2em; text-transform: lowercase; }
		.logo .s { display: block; font-weight: bold; text-transform: none; margin-bottom: 0.25em; font-size: 1.3em; line-height: 1.1em; }
		.logo .s a { color: black; display: block; }
		.logo .s .first { font-size: 0.8em; line-height: 1.1em; }
		.logo .s .last { font-size: 1.3em; line-height: 1em; }
		.logo .m { display: block; letter-spacing: -0.1em; margin: 0 0 -0.8em 0; margin-left: 0.1em; color: #777 }
		.logo .g { display: block; font-size: 1.6em; letter-spacing: -0.09em; color: #ccc; }
		.logo .g span { color: #faa; }
